extends layout

block content
	div.row
		div.col-lg-12
			h1.page-header Dashboard


	div.row
		div.col-lg-4
			div.panel.panel-default
				div.panel-heading
					i.fa.fa-sitemap.fa-fw
					| Websites
				div.panel-body
					div.list-group
						each website in websites
							a.list-group-item(href="/websites/" + website.id)
								i.fa.fa-cloud.fa-fw
								=website.name
								if website.process
									span.pull-right.text-muted.small
										em=website.processStatus


		div.col-lg-4
			div.panel.panel-default
				div.panel-heading
					i.fa.fa-tachometer.fa-fw
					| Server memory
				div.panel-bodye
					div#memory-usage-donut


		div.col-lg-4
			div.panel.panel-default
				div.panel-heading
					i.fa.fa-signal.fa-fw
					| Server load
				div.panel-body
					div#load-usage-chart
		div.col-lg-6
			div.panel.panel-default
				div.panel-heading
					i.fa.fa-thumbs-o-down
					|&nbsp;Banned
				div.panel-body
					table.table
						thead
							tr
								th IP
								th Until
								th Last
								th Errors
						tbody
							each ban,ip in banned
								tr
									td=ip
									td=(ban.block) ? ban.block.getFullYear() + '-' + (ban.block.getMonth() + 1) + '-' + ban.block.getDate() + ' ' + ban.block.getHours() + ':' + ban.block.getMinutes() : ''
									td=(ban.last) ? ban.last.getFullYear() + '-' + (ban.last.getMonth() + 1) + '-' + ban.last.getDate() + ' ' + ban.last.getHours() + ':' + ban.last.getMinutes() : ''
									td=ban.errors

	script
		|var memory = !{JSON.stringify(memory)};
		|var cpus = !{JSON.stringify(cpus)};